.drinks {
  position: relative;
  top: 150px;
  width: 80%;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* border: 1px solid red; */
}

ul {
  list-style-type: none;
}

.items_drinks {
  width: 100%;
  /* height: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  /* border: 1px solid purple; */
}

.li_drinks {
  width: 33%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.img_drinks {
  position: relative;
  width: 50%;
  /* height: 60%; */
  margin-bottom: 10px;
}

.name_drinks {
  font-size: 20px;
}

.price_drinks {
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
