.header {
  width: 100%;
  background-color: white;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 1;
}

.logo {
  position: absolute;
  left: 5%;
  color: black;
  font-size: 30px;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  width: 25%;
  position: relative;
  left: 65%;
  height: 100%;
  text-align: center;
}

.href_header {
  width: 32%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  color: black;
}

.href_header:after {
  content: '';
  width: 50%;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.href_header:hover:after {
  opacity: 1;
  border-top-color: white;
}
.span_header {
  color: var(--main-color);
  font-size: large;
}
